<%- include('_includes/header', { siteConfig }); -%>

<div class="about__content pad-0 prose">
    <div class="about__description">
        <%- html %>
    </div>
</div>

<%- include('_includes/footer', { siteConfig }) %>
